<section
  id="Hero"
  class="relative bg-cover bg-center bg-no-repeat text-white py-32 px-4 h-screen"
  style="background-image: url('/images/background.webp');"
>
  <!-- Capa oscura -->
  <div class="absolute inset-0 bg-[#261b14]/80"></div>

  <!-- Contenido centrado -->
  <div
    class="relative z-10 flex items-center justify-center h-full text-center px-4"
  >
    <div>
      <h1
        class="text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-bold mb-4 font-titulo"
        style="font-family: var(--font-titulo);"
      >
        ¡Búsqueda Del Tesoro!
      </h1>

      <p
        class="text-xl sm:text-2xl md:text-3xl lg:text-4xl text-[#f2da91] mb-6"
        style="font-family: var(--font-subtitulo);"
      >
        La Aventura.
      </p>
      <a
        href="#Entradas"
        class="inline-block bg-[#027333] text-white font-semibold px-6 py-3 rounded-full shadow hover:bg-[#025928] transition"
      >
        Consigue tus entradas
      </a>
    </div>
  </div>
</section>
<div class="relative">
  <svg
    class="absolute bottom-0 left-0 w-full"
    viewBox="0 0 1440 100"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill="var(--color-theme-lightbrown)"
      d="M0,0 C480,100 960,0 1440,100 L1440,100 L0,100 Z"></path>
  </svg>
</div>
