---
import "../styles/global.css";
// Supports weights 200-800
import "@fontsource-variable/bricolage-grotesque";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Entradas from "../components/Entradas.astro";
import Info from "../components/Info.astro";
import Mapa from "../components/Mapa.astro";
import FAQ from "../components/FAQ.astro";
import Footer from "../components/Footer.astro";
import Patrocinadores from "../components/patrocinadores.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <meta name="generator" content={Astro.generator} />
    <title>Busqueda del tesoro - La aventura 2025</title>
  </head>
  <>
    <Header />
    <Hero />
    <Entradas />
    <Patrocinadores />
    <Info />
    <Mapa />
    <FAQ />
    <Footer />
    <slot />
  </>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    background: var(--color-theme-lightbrown);
    font-family: "Bricolage Grotesque Variable", sans-serif;
  }
</style>
